/* Reset */
@import 'reset';

/* Swiper */
@import '../../node_modules/swiper/swiper-bundle';

/* Fonts */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff2') format('woff');
  font-style: normal;
  font-weight: 700;
}

/* Global */
* {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.18;
}
sup {
  font-size: 12px;
  margin-top: -4px;
}
body {
  background: #000;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 1240px) {
    max-width: 1000px;
  }
  @media (max-width: 1020px) {
    max-width: 768px;
  }
  @media (max-width: 770px) {
    max-width: 414px;
  }
}
.btn {
  display: block;
  background: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 18px 65px;
}

/* Header */
.header {
  padding-top: 50px;
  margin-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-img {
    transition: scale 0.3s;
    width: 345px;
  }
  &__logo-link {
    margin-right: 42px;
    &:hover {
      .header__logo-img {
        scale: 1.1;
      }
    }
  }
  &__btn {
    margin-left: auto;
    margin-right: 160px;
    transition: scale 0.3s;
    width: clamp(300px, 34vw, 385px);
    font-size: clamp(16px, 1.6vw, 20px);
    padding: 18px clamp(35px, 3vw, 65px);

    &:hover {
      scale: 1.05;
    }
  }
}

/* Top section */
.top {
  margin-bottom: 50px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 250px 500px;
    gap: 20px;
  }
  &__about {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-image: url(../img/top-about-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 30px;
    padding-top: 50px;
  }
  &__info {
    text-align: center;
    padding-top: 15px;
  }
  &__info-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__text {
    max-width: 210px;
    margin: 0 auto;
  }
  &__slogan {
    padding-left: 20px;
    text-align: center;
  }
  &__title {
    padding-top: 5px;
    font-size: 64px;
    font-weight: 700;
    max-width: 600px;
    margin: 0 auto 30px;
  }
  &__images {
    border-radius: 30px;
    max-width: 100%;
  }
  &__promo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url(../img/promo-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    align-self: self-end;
    padding-top: 144px;
  }
  &__promo-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__promo-text {
    max-width: 175px;
    margin: 0 auto 15px;

    span {
      display: block;
    }
  }
  &__promo-img {
    border-radius: 30px;
    max-width: 100%;
    margin-bottom: 15px;
  }
  &__promo-btn {
    display: inline-block;
    padding: 13px 37px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000;
    border-radius: 30px;
    margin-bottom: 30px;
    transition: scale 0.3s;

    &:hover {
      scale: 1.05;
    }
  }
}

/* Statistics */
.statistics {
  margin-bottom: 50px;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__item {
    background-color: #b5a395;
    border-radius: 30px;
    padding: 16px 40px;
    text-align: center;
    flex-basis: 33.3%;
  }
  &__num {
    font-size: 96px;
    font-weight: 700;
  }
  &__text {
    font-size: 20px;
    font-weight: 700;
  }
}

/* About */
.about {
  &__wrapper {
    position: relative;
    padding-bottom: 137px;
    &::after {
      content: '';
      background-image: url(../img/about-bg.webp);
      width: 100%;
      height: 137px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &__inner {
    background-color: #ccc1b4;
    padding: 50px 50px 55px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 838px;
  }
  &__text {
    max-width: 952px;
  }
}

/* Projects section */
.projects {
  margin-top: -70px;
  margin-bottom: 80px;

  &__inner {
    background-image: url(../img/projects-bg.webp);
    background-repeat: no-repeat;
    padding: 160px 85px 0 50px;
  }
  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
  }
  &__slider {
    margin-top: -150px;
    padding-bottom: 5px;
  }
  &__slide {
  }
  &__slide-title {
    font-size: 40px;
    font-weight: 700;
    max-width: 441px;
    text-align: right;
    margin-left: auto;
    margin-right: 115px;
    margin-bottom: 50px;
  }
  &__slide-inner {
    display: flex;
    justify-content: space-between;
    gap: 56px;
  }
  &__slide-content {
  }
  &__slide-subtitle {
    font-weight: 700;
    margin-bottom: 15px;
    max-width: 318px;
  }
  &__slide-text {
    max-width: 318px;
    margin-bottom: 45px;
  }
  &__slide-info {
    display: flex;
    align-items: flex-end;
    margin-top: -65px;
    gap: 10px;

    li {
      width: 120px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3c342e;
      border-radius: 20px;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      &:last-child {
        background-color: transparent;
        background-image: url(../img/li-bg.webp);
        height: 130px;
        background-repeat: no-repeat;
        background-position: bottom;
        text-align: center;
      }
      span {
        position: absolute;
        bottom: 18px;
      }
    }
  }
  &__slider-btn {
    position: absolute;
    top: auto;
    bottom: 0;
    background-color: #8f7e70;
    width: 68px;
    height: 40px;
    border-radius: 30px;
    &::after {
      display: none;
    }
  }
  &__slide-image {
  }
  .swiper-button-prev {
    left: auto;
    right: 552px;
    transform: rotate(-2deg);
  }
  .swiper-button-next {
    right: 0;
    transform: rotate(2deg);
  }
}

/* Tarrifs */
.tariffs {
  margin-bottom: 76px;
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__content-side {
    width: 100%;
  }
  &__title {
    text-align: center;
    background-color: #3c342e;
    border-radius: 30px;
    padding: 26px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__list {
    background-color: #8f7e70;
    border-radius: 30px;
    padding: 55px 20px 44px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__list-item {
    list-style-type: disc;
    max-width: 334px;
    margin-left: 90px;
  }
  &__info {
    display: flex;
  }
  &__size {
    background-color: #3c342e;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 19px;
    text-transform: uppercase;
    flex-basis: 209px;
    text-align: center;
  }
  &__content-side--left {
    display: flex;
    flex-direction: column;
  }
  &__list--left {
    height: 100%;
    align-content: center;
  }
  &__btn {
    transition: scale 0.3s;
    &:hover {
      scale: 1.05;
    }
  }
}

/* Footer */
.footer {
  margin-bottom: 102px;

  &__inner {
    background: #8f7e70;
    border-radius: 30px;
    padding: 50px 49px 22px;
  }
  &__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__contacts {
    display: flex;
    flex-wrap: wrap;
  }
  &__contacts-item {
    flex-basis: 50%;
    align-self: start;

    dt,
    dd,
    a {
      font-size: clamp(18px, 5vw, 20px);
      font-weight: 700;
      line-height: 1.3;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child {
      margin-top: 4px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    margin-top: 36px;
    flex-wrap: wrap;
  }
  &__logo {
    display: block;
    flex-basis: calc(50% + 10px);
    transition: scale 0.3s;
    margin-right: 10px;
    img {
      width: clamp(240px, 70vw, 345px);
    }

    &:hover {
      scale: 1.1;
    }
  }
  &__btn {
    width: clamp(300px, 34vw, 380px);
    font-size: clamp(16px, 1.6vw, 20px);
    padding: 18px clamp(35px, 3vw, 65px);
    transition: scale 0.3s;

    &:hover {
      scale: 1.05;
    }
  }
}

/* Media */
@import 'media';
