@media (max-width: 1240px) {
  .top {
    &__inner {
      grid-template-rows: 220px 390px;
    }
    &__about {
      padding-top: 46px;
    }
    &__title {
      font-size: 54px;
    }
    &__images {
      max-width: 80%;
    }
    &__promo {
      background-position: bottom;
      padding-top: 112px;
    }
    &__promo-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    &__promo-text {
      margin-bottom: 10px;
    }
    &__promo-img {
      margin-bottom: 10px;
      max-width: 70%;
    }
    &__promo-btn {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1020px) {
  .header {
    &__btn {
      margin-right: 30px;
    }
  }
  .top {
    &__inner {
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 200px 350px;
    }
    &__about {
      padding-top: 40px;
    }
    &__title {
      line-height: 1;
    }
    &__slogan {
      padding-left: 60px;
    }
    &__promo-title {
      margin-bottom: 7px;
    }
    &__promo-text {
      margin-bottom: 5px;
    }
    &__promo-img {
      margin-bottom: 5px;
    }
    &__promo-btn {
      margin-bottom: 10px;
    }
  }

  .footer {
    &__bottom {
      justify-content: center;
    }
    &__logo {
      flex-basis: 100%;
      text-align: center;
    }
    &__btn {
      margin-top: 15px;
    }
  }
}

@media (max-width: 864px) {
  .header {
    &__inner {
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    &__logo-link {
      margin-right: auto;
      order: -1;
    }
    &__menu-link {
      order: -1;
    }
    &__btn {
      margin-right: 0;
      margin-left: 150px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 770px) {
  .header {
    &__logo-img {
      width: clamp(240px, 70vw, 330px);
    }
    &__btn {
      margin: 20px auto 0;
    }
  }

  .top {
    &__inner {
      display: block;
    }
    &__about {
      display: block;
      padding-top: 0;
      background-image: none;
      background-color: #8f7e70;
      padding: 20px;
      margin-bottom: 20px;
    }
    &__slogan {
      padding-left: 0;
    }
    &__title {
      font-size: clamp(36px, 3vw, 48px);
      line-height: 1.2;
    }
    &__images {
      max-width: 100%;
    }
    &__promo {
      padding: 20px;
      border-radius: 30px;
    }
    &__promo-title {
      margin-bottom: 15px;
      font-size: 20px;
    }
    &__promo-text {
      margin-bottom: 15px;
    }
    &__promo-img {
      margin-bottom: 15px;
    }
    &__promo-btn {
      margin-bottom: 0;
    }
  }

  .statistics {
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      flex-basis: 100%;
    }
  }

  .footer {
    &__title {
      text-align: center;
    }
    &__contacts {
      justify-content: center;
    }
    &__contacts-item {
      flex-basis: 100%;
      margin-bottom: 20px;
      text-align: center;

      &:last-child {
        margin: 0;
      }
    }
  }
}
