<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <h2 class="footer__title">Contacts</h2>
      <dl class="footer__contacts">
        <div class="footer__contacts-item">
          <dt>Telephone:</dt>
          <dd><a href="tel:+11234567890">+1 (123) 456-7890</a></dd>
        </div>
        <div class="footer__contacts-item">
          <dt>Office hours:</dt>
          <dd>Mon–Sat from 9:00 to 19:00 <br>
            In touch with clients 24/7</dd>
        </div>
        <div class="footer__contacts-item">
          <dt>Address</dt>
          <dd>Main Street, New York, NY 10001</dd>
        </div>
      </dl>
      <div class="footer__bottom">
        <a class="footer__logo" href="#">
          <img src="img/logo-black.svg" alt="Aesthetic Space">
        </a>
        <button class="footer__btn btn">Order a consultation</button>
      </div>
    </div>
  </div>
</footer>
</body>
<script src="js/main.min.js"></script>
</html>
